*.log
*.a
*.o
*.exe
*.bak
*~
*.dep
*.orig
*.hex
*.map
*.bin
*.out
*.sim
*.dbgdt
*.dni
*.jlink
*.wsdt
*.config
*.pbd
*.ewd
*.ewt
*.d
*.r90
*.r90
*.s90
*.d90
*.a90
*.pbi
*.cap
*.pcapng
*.pcap
*.patch
*.cout
*.lst
*.cap
*.csv
*.CAP
*.xcl
*.zip
*.wspos
*.browse
*.ewsample
*.asm
*.ind
*.7z
*.hex
*.elf
*.eep
*.emSession
*.depend
*.layout
*.dmp
tags
test-results.xml
.vscode/
.vs/
Debug/
settings/
*.componentinfo.xml
bin/
Backup*
BACnet_BDT_table
address_cache
/build/*
/_build/*
CMakeLists.txt.user
/out/*
Obj/
Release/
apps/piface/libmcp23s17/
apps/piface/libpifacedigital/

apps/abort/bacabort
apps/ack-alarm/bacackalarm
apps/dcc/bacdcc
apps/epics/bacepics
apps/error/bacerror
apps/event/bacevent
apps/getevent/bacge
apps/iamrouter/baciamr
apps/iamstatic/baciam
apps/initrouter/bacinitr
apps/mstpcap/mstpcap
apps/mstpcrc/mstpcrc
apps/readbdt/bacrbdt
apps/readfdt/bacrfdt
apps/readfile/bacarf
apps/readprop/bacrp
apps/readpropm/bacrpm
apps/readrange/bacrr
apps/reinit/bacrd
apps/scov/bacscov
apps/server/bacserv
apps/timesync/bacts
apps/ucov/bacucov
apps/uevent/bacuevent
apps/uptransfer/bacupt
apps/whohas/bacwh
apps/whoisrouter/bacwir
apps/writebdt/bacwbdt
apps/writefile/bacawf
apps/writeprop/bacwp
apps/writepropm/bacwpm

